{% extends 'base.html' %} {% block content %}

<div class="message-box">
  <h2>Chat Room :{{room}}</h2>

  <div class="messages" id="messages"></div>

  <div class="inputs">
    <input
      type="text"
      name="message"
      id="message"
      placeholder="Message"
      rows="3"
    />
    <button type="button" id="send-btn" name="send" onclick="sendMessage()">
      send
    </button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div>
        <span>
          <strong>${name}</strong>: ${msg}
        </span>

        <span class="muted">
          ${new Date().toLocaleString()}
         </span> 
    </div>


    `;
  };
  const sendMessage = () => {
    console.log("sendMessage");
  };
</script>
{% endblock %}
